@font-face {
  font-family: 'Share Tech';
  font-style: normal;
  font-weight: 400;
  src: local('Share Tech'), local('ShareTech-Regular'), url(/fonts/ShareTech-Regular.ttf);
}

* {
  background-color:transparent;
  font-family: 'Share Tech', sans-serif;
}

body, .jumbotron {
  background-color:#d2d4bc;
}

.jumbotron h1 {
  font-size:26px;
  font-weight:bold;
  margin-top:50px;
}

.navbar {
/* background-color:#350505; */
background-color:#d2d4bc;
border:none;
}

ul.navbar-nav li a {
  color:#800032 !important;
}

.btn-default {
  border:0;
  background-color:transparent;
  color:#800032;
}

a {
  color:#800032;
}

a:visited {
  color:#800032;
}

.row {
  padding:50px 0px;
}

.jumbotron {
  margin:0;
  padding:0;
}


#large-header {
  background-color:#222;
  height:300px;
  margin:0;
  padding:0;
  margin-bottom:30px;
}

#large-header img {
  position:relative;
  top:30px;
}

.row-centered {
  text-align:center;
  margin:0;
}
.col-centered {
  display:inline-block;
  float:none;
  text-align:left;
  margin-right:-4px;
}

ul.nav>li>a {
  color:#800032;
}

.jumbotron>hr {
  background-color:black;
  height:1px;
  border: 3px #333 solid;
  width:300px;
}

.post-content img {
  display: block;
  margin:auto;
}

#status_open, #status_closed {
  display:none; 
  border:0;
}

#status_open a {
  color:#00ff00 !important;
}

#status_closed a {
  color:#ff0000 !important;
}

#status_bar {
  margin:0; 
  border-width:2px 0px;
  border-color:transparent;
}

.navbar .divider-vertical {
height: 20px;
margin: 14px 9px;
border-right: 1px solid #800032;
border-left: 1px solid #800032;
}

.navbar-inverse .divider-vertical {
border-right-color: #222222;
border-left-color: #111111;
}

@media (max-width: 767px) {
.navbar-collapse .nav > .divider-vertical {
    display: none;
  }
}

rect.bordered {
  stroke: #D2D4BC;
  stroke-width:1px;   
}
