---
layout: default
---
<script src="js/elevator.js"></script>
{% for post in site.posts %}
{% if forloop.first == false %}
<hr>
{% endif %}
<div class="container">
  <div class="row">
    <div class="col-md-12 post">

      <header class="post-header">
        <h1 class="post-title">{{ post.title }}</h1>
        <p class="post-meta">{{ post.date | date: "%b %-d, %Y" }}{% if post.author %} • {{ post.author }}{% endif %}{% if post.meta %} • {{ post.meta }}{% endif %}</p>
      </header>

      <article class="post-content">
        {{post.content}}
        {% assign wordcount = post.content | number_of_words %}
        {% if wordcount > 200 %}
          <p><a class="btn btn-default" href="{{ post.url | prepend: site.baseurl }}" role="button">&gt; Weiterlesen</a></p>
        {% endif %}
      </article>

    </div>
  </div>
</div>
<div id="elevator-button{{ forloop.index0 }}" class="elevator-button"><i class="fa fa-arrow-up"></i></div>


<script>
//unfortunatly elevator dosnt support a list of elements yet, hotfix for now, should be removed asap
// Elevator script: https://github.com/tholman/elevator.js
  var elevator{{ forloop.index0 }} = new Elevator({
    element: document.querySelector('#elevator-button{{ forloop.index0 }}'),
    mainAudio: '/media/elevator-music.mp3', // Music from http://www.bensound.com/
    endAudio: '/media/ding.mp3', // Music from http://www.bensound.com/
    duration: {{ forloop.index | times: 500 }}
  });
</script>
{% endfor %}



