---
layout: default
---

<div class="container" id="posts">
  <div class="row">
    {% for post in site.posts limit:4 %}
    <div class="col-md-3">
      <h2>{{ post.title }}</h2>
      <p>
       {{ post.content | truncatewords:20 }}
      </p>
      {% assign wordcount = post.content | number_of_words %}
      {% if wordcount > 20 %}
        <p><a class="btn btn-default" href="{{ post.url | prepend: site.baseurl }}" role="button">&gt; Weiterlesen</a></p>
      {% endif %}
    </div>
    {% endfor %}
  </div>
</div>
<hr>
<div class="container" id="about">
  <div class="row">
    <div class="col-md-12">
      <p>
        Wir sind der örtliche Erfa-Kreis des Chaos Computer Club in Essen. Allgemein handelt es sich bei uns um eine Gruppe von Menschen, die ein Interesse am kreativen Umgang mit Technik teilen. Unsere Gesprächsthemen und Projekte reichen von Soft- und Hardware zu Datenschutz und Netzpolitik. <br><br>
        Alle Interessierten sind herzlich zu unserem Treff eingeladen. Dieser findet mittwochs ab 19 Uhr und sonntags ab 16 Uhr statt.
      </p>
    </div>
  </div>
</div>
