<hr>
<div class="container" id="contact">
  <div class="row">
    <div class="col-md-6">
      <p>
        <span class="fa fa-map-marker"></span> <a href="http://www.openstreetmap.org/?mlat=51.43852&amp;mlon=7.02494#map=19/51.43852/7.02494">Sibyllastr. 9 (Hinterhof), 45136 Essen</a>
      </p>
      
      <p>
        <span class="fa fa-phone"></span> <a href="tel:+49201857883460">+49 (0) 201-857883460</a>
      </p>
      <p>
        <span class="fa fa-envelope-o"></span> <span id="e634474788">[javascript protected email address]</span><script type="text/javascript">/*<![CDATA[*/eval("var a=\"KLymbg_4UN6zqCQHdx19cSGfja2ulE.PAMXh-+ZokiFIe@DrW7O358vwtBRn0VspJYT\";var b=a.split(\"\").sort().join(\"\");var c=\"7vDwCIWiwntw00ye@\";var d=\"\";for(var e=0;e<c.length;e++)d+=b.charAt(a.indexOf(c.charAt(e)));document.getElementById(\"e634474788\").innerHTML=\"<a href=\\\"mailto:\"+d+\"\\\">\"+d+\"</a>\"")/*]]>*/</script>
        <br>
        <span class="fa fa-lock"></span> <a href="/media/ccc-essen.pgp">01CB 5D67 4100 6A17 2492 739D 4592 4F8A 867E D719</a>
      </p>
      <p>
        <span class="fa fa-gavel"></span>
	<a href="https://wiki.chaospott.de/Verein">
	  Impressum
	</a>
      </p>
    </div>
    <div class="col-md-6">
      <p>
        <i class="fa fa-twitter"></i> <a href="https://twitter.com/foobarev">@foobarev</a>
      </p>
      <p>
        <span class="fa fa-inbox"></span> <a href="http://lists.chaospott.de/listinfo/discuss"><span id="e176307554">[javascript protected email address]</span><script type="text/javascript">/*<![CDATA[*/eval("var a=\"QF7fPdHKm6eh8@I0vEyYxwMALU3l_BGgD.X4+jJutCVaS2czWkpq1i5-boORT9snNrZ\";var b=a.split(\"\").sort().join(\"\");var c=\"SkRa9RRFR9VRaOkV2@1kRTR7aWC-Rb-TT7S2\";var d=\"\";for(var e=0;e<c.length;e++)d+=b.charAt(a.indexOf(c.charAt(e)));document.getElementById(\"e176307554\").innerHTML=d")/*]]>*/</script></a>
        <br>
        <span class="fa fa-comments"></span>
        <a href="http://hackint.eu">hackint.eu</a>
        
        ( <a href="irc://hackint.eu/chaospott">#chaospott</a> )
      </p>
      <p>
        <i class="fa fa-github"></i> <a href="https://github.com/c3e">c3e</a>
      </p>
    </div>
  </div>
</div>
