<hr>
<div class="container" id="contact">
  <div class="row">
    <div class="col-md-6">
      <p>
        <span class="fa fa-map-marker"></span> <a href="http://www.openstreetmap.org/?mlat=51.43852&mlon=7.02494#map=19/51.43852/7.02494">Sibyllastr. 9 (Hinterhof), 45136 Essen</a>
      </p>
      
      <p>
        <span class="fa fa-phone"></span> <a href="tel:+49221596191042">+49 (0) 221 59619 1042</a>
      </p>
      <p>
        <span class="fa fa-envelope-o"></span> <span id="e701819447">[javascript protected email address]</span><script type="text/javascript">/*<![CDATA[*/eval("var a=\".Pc3y1Lh6oqgCSMluXaN-F0mWOK_ewAvVBdZstj2rpTf85+@iRznY4xI7QJUGkHD9Eb\";var b=a.split(\"\").sort().join(\"\");var c=\"fJE7GI7pJGESfffP5UU5xc85\";var d=\"\";for(var e=0;e<c.length;e++)d+=b.charAt(a.indexOf(c.charAt(e)));document.getElementById(\"e701819447\").innerHTML=\"<a href=\\\"mailto:\"+d+\"\\\">\"+d+\"</a>\"")/*]]>*/</script>
        <br>
        <span class="fa fa-lock"></span> <a href="/media/ccc-essen.pgp">01CB 5D67 4100 6A17 2492 739D 4592 4F8A 867E D719</a>
      </p>
    </div>
    <div class="col-md-6">
      <p>
        <i class="fa fa-twitter"></i> <a href="https://twitter.com/foobarev">@foobarev</a>
      </p>
      <p>
        <span class="fa fa-inbox"></span> <a href="https://lists.cccmz.de/mailman/listinfo/chaostreff-essen"><span id="e699026149">[javascript protected email address]</span><script type="text/javascript">/*<![CDATA[*/eval("var a=\"fnF9IG32pj+g0bLHEk6w-Y_Z4NzqaSTWCeVMxXBoudQJ8cKhO@1sD5t.ilrAPvUyR7m\";var b=a.split(\"\").sort().join(\"\");var c=\"JOd.APrcKKncAActnAvQAJr@QcbD@APAFJJJ5mF8c\";var d=\"\";for(var e=0;e<c.length;e++)d+=b.charAt(a.indexOf(c.charAt(e)));document.getElementById(\"e699026149\").innerHTML=d")/*]]>*/</script></a>
        <br>
        <span class="fa fa-comments"></span>
        <a href="http://hackint.eu">hackint.eu</a>
        
        ( <a href="irc://hackint.eu/chaospott">#chaospott</a> )
      </p>
      <p>
        <i class="fa fa-github"></i> <a href="https://github.com/c3e">c3e</a>
      </p>
    </div>
  </div>
</div>

