<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include header.html %}
    <div class="jumbotron">
	    <div class="container-fluid large-header" id="large-header">
        <canvas id="demo-canvas" style="position:absolute;width:100%;"></canvas>
	      <div class="row row-centered" style="margin-left:0px;margin-right:0px;">
	        <div class="col-centered">
	          <img src="{{ "/images/logo.png" | prepend: site.baseurl }}" alt="Chaospott Logo" />
	        </div>
	      </div>
	    </div>
      {{ content }}
      {% include footer.html %}
    </div>
    <script src="{{ "/js/TweenLite.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/EasePack.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/rAF.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/eyecandy.js" | prepend: site.baseurl }}"></script>
  </body>
</html>
