<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include header.html %}
    <div class="jumbotron">
      <div class="container-fluid large-header" id="large-header">
        <canvas id="demo-canvas" style="position:absolute;width:100%;"></canvas>
	<div class="row row-centered">
	  <div class="col-centered">
	    <img src="{{ "/images/logo.svg" | prepend: site.baseurl }}" alt="Chaospott Logo" />
	  </div>
	</div>
      </div>
      <div style="background-color: rgb(244,232,74)" class="">
	<h2 align="center">
         <a href="https://pledge2019.eu/">Verhindert Artikel 13!</a>
	</h2>
        <p align="center"> 
	 Das Internet, wie wir es kennen, ist in Gefahr. Verhindert die Zensur durch Uploadfilter! Ruft eure Abgeordneten an! Geht demonstrieren!	
	</p>
      </div>
      {{ content }}
      {% include footer.html %}
    </div>
    <script src="{{ "/js/TweenLite.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/EasePack.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/rAF.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/eyecandy.js" | prepend: site.baseurl }}"></script>
  </body>
</html>
