---
layout: default
---

<div class="container" id="posts">
  <div class="row" style="padding-bottom:0px;">
    {% for post in site.posts limit:4 %}
    <div class="col-md-3">
      <h2>
          <a href="{{ post.url | prepend: site.baseurl }}">
              {{ post.title }}
          </a>
      </h2>
      <p>
       {{ post.content | truncatewords:20 }}
      </p>
      {% assign wordcount = post.content | number_of_words %}
      {% if wordcount > 20 %}
        <p>
            <a class="btn btn-default" href="{{ post.url | prepend: site.baseurl }}" role="button">
                &gt; Weiterlesen
            </a>
        </p>
      {% endif %}
    </div>
    {% endfor %}
  </div>
<div class="row-centered align-text-top" style="padding-bottom:50px;"><p>Weitere Nachrichten finden sich <a href="https://chaospott.de/blog/">in unserem Logbuch.</a></p></div>
</div>
<hr>
<div class="container" id="about">
  <div class="row">
    <div class="col-md-12">
      <p>
        Wir sind der örtliche Erfa-Kreis (Erfahrungsaustauschkreis) des Chaos Computer Clubs in Essen.
        Wir sind eine Gruppe von intergalaktischen Wesen, die das Interesse am kreativen Umgang mit Technik teilen und gerne gestalterisch tätig werden.<br /><br />
        
        In unserem <a href="https://chaospott.de/about.html">Hackerspace</a> haben wir eine Elektronikwerkstatt, ein Fablab mit 3D-Druckern und eine Holzwerkstatt, aber auch eine große Lounge und eine Küche. Dort bauen wir an großen und kleinen Projekten.                
        Unsere Gesprächsthemen und Projekte reichen von Soft- und Hardwarethemen über Datenschutz und Netzpolitik bis hin zu allem anderen, was gerade so interessant ist.
        Auch das gesellschaftliche Beisammensein kommt bei uns nicht zu kurz. Spieleabende, gemeinsames Kochen oder einfach nur Fachsimpeln machen uns Spaß.<br /><br />

        Interesse? Komm vorbei! Du findest uns hauptsächlich mittwochs ab 19 Uhr und sonntags ab 16 Uhr in unserem Hackerspace. Wo du uns genau findest ist <a href="https://chaospott.de/location.html">hier</a> beschrieben.<br /><br />        
        Oder schreib uns eine E-Mail! Digitale Kontaktmöglichkeiten findest du <a href="https://chaospott.de/contact.html">hier</a>.<br /><br /> 

        Unsere nächsten Veranstaltungen und Termine findest du in <a href="https://chaospott.de/calendar.html">in unserem Kalender</a>.<br /><br /> 

        Was wir so alles machen halten wir in unserem <a href="https://chaospott.de/blog">Logbuch</a> fest.<br /><br /> 

        Außerdem berichten wir in unserem <a href="https://podcast.chaospott.de/">Podcast, Sibyllinischen Neuigkeiten</a> aus unserem Clubleben.<br /><br /> 

        Wir sind nicht alleine! Hackerspaces wie unseren Clubraum findest du auf der ganzen Welt. In der Nähe gibt es <a href="https://chaospott.de/about.html#andere-hackerspacdes">viele verschiedene Hackerspaces</a>, zu denen wir gute Kontakte pflegen.<br /><br /> 

        Termine und Neuigkeiten aus dem Umkreis den CCC findest du unter <a href="https://cpu.ccc.de">cpu.ccc.de</a>. Aktuelles rund um die großen Veranstaltungen des CCC findest du im <a href="https://events.ccc.de">Events-Blog des CCC</a>.
      </p>
    </div>
  </div>
</div>
